<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<script>
  if (window.localStorage.getItem('snowballDarkmode') == 'true') {
    document.body.classList.add('dark-mode');
  }
</script>
<body>
<div class="page-wrapper with-navbar with-transitions">
    <%- include(`${partials}/header_main`); -%>
    <%- include(`${partials}/wallet_error`); -%>
    <!-- Content wrapper start -->
    <div class="content-wrapper d-lg-flex">
        <div class="container-lg">
            <div class="row">
                <div class="my-20 col-md-12 text-center">
                    <h4 id="title" class="">Receive Pangolin Rewards for PNG:SNOB (Snowball)</h4>
                    <div class="my-20">
                        The Pangolin Community voted overwhelmingly on a snapshot sentiment poll from April6-13th to add PNG/Snowball to the pool of pairs receiving rewards. 
                    </div>    
                    <div class="my-20">
                        As a native Avalanche project it was an honor to be recognized.                         
                        <a href="https://snapshot.org/#/pangolindex.eth/proposal/QmSn4BAhdwxEggUx36w645PPxmZKuMvEhLhyLzj5T9Wp2a">QmSn4BAhdwxEggUx36w645PPxmZKuMvEhLhyLzj5T9Wp2a</a>
                    </div>
                </div>
            </div>
            <div class="w-full m-auto w-clipboard" id="wallet-copy" data-toggle="tooltip" data-placement="bottom" data-title="Copy your wallet address to clipboard">
                <div class="card w-300 p-10 m-auto border border-2 bg-transparent snob-tokens">
                    <div class="d-flex flex-row justify-content-right align-items-center">
                        <div class="mr-10">
                            <img src="https://s2.coinmarketcap.com/static/cloud/img/metamask.png?_=4b2fe1d" class="w-25 pull-left" alt="Metamask">
                        </div>
                        <div id="wallet-address" class="font-size-12 p-2 text-truncate">

                        </div>

                        <a href="#" class="ml-5 pointer" aria-hidden="true">
                            <ion-icon name="copy-outline"></ion-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="delegate" style="display:none">
                    <button  class="btn btn-primary btn-lg ml-0 ml-md-20">
                        Delegate
                    </button>                    
                </div>
                <div id="undelegate" style="display:none">
                    <button   class="btn btn-primary btn-lg ml-0 ml-md-20">
                        Undelegate
                    </button>
                </div>
                Current Support: <span id="votecount"></span>
            </div>
            
            <h1 class="error"></h1>

            <pre id="log" style="margin-left: 10px;">
            </pre>

            <%- include(`${partials}/scripts`, { shared: 'shared', scriptname: 'delegate'}); -%>
            <%- include(`${partials}/footer`); -%>
        </div>
    </div>
</div>
</body>
</html>