<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<script>
  if (window.localStorage.getItem('snowballDarkmode') == 'true') {
    document.body.classList.add('dark-mode');
  }
  fetch('https://x-api.snowball.network/dex/0xc38f41a296a4493ff429f1238e030924a1542e50/tvl.json').then(function (response) {
    return response.json();
  }).then(function (info) {
    document.getElementById('tvl').innerHTML = '$' + new Intl.NumberFormat('en-US').format(info.locked.toFixed(0));
    let cents = ' $0.' + info.price.toFixed(2).split('.')[1];
    document.querySelector('.buy-btn').setAttribute('price', cents);
  }).catch(function (err) {
    document.getElementById('tvl').innerHTML = '';
    console.log('could not get tvl:', err);
  });
</script>
<body>
<div class="page-wrapper with-navbar with-transitions">
    <%- include(`${partials}/nav`); -%>
    <!-- Content wrapper start -->
    <div class="content-wrapper d-lg-flex">
        <div class="container-lg">
            <section id="main">
                <div class="row mx-auto">
                    <!-- Main start -->
                    <div class="col-lg-7">
                        <div class="content" data-aos="fade-up"
                             data-aos-duration="3000">
                            <div class="hero-header pt-20">
                                <h1 class="font-weight-semi-bold"> Earn more with Snowball</h1>
                            </div>
                            <div class="pt-20">
                                <p class="font-weight-medium font-size-16 mb-0 mt-10"><img style="vertical-align: text-bottom" width="18px"src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/S3D.png"> StableVault allows anyone to <b><a href="<%= PP %>/stablevault/">buy and sell stablecoins</a></b> with near-zero fees and virtually no slippage.</p>
                                <p class="font-weight-medium font-size-16 mb-0 mt-10">💰 Stablecoin holders get industry-leading returns by <b><a href="<%= PP %>/stablevault/">staking assets in StableVault</a></b>.</p>
                                <p class="font-weight-medium font-size-16 mb-20 mt-10">❄️ Supercharge your yield-farming strategy by using Snowball to <b><a href="<%= PP %>/compound/">compound your rewards</a></b> automatically.</p>
                            </div>
                            <span class="badge badge-pill p-5 w-150 text-center">
                                        <strong>Total Value Locked</strong>
                                    </span>
                            <div class="d-md-flex align-items-center total-locked text-extra-letter-spacing text-monospace font-size-12 pt-20 mb-20" target="_blank" rel="noopener">

                                <a href="https://x-api.snowball.network/tvl" target="_blank"><h2 class="tvl text-primary px-5" id="tvl">...</h2></a>
                                <a href="https://app.pangolin.exchange/#/swap?inputCurrency=avax&outputCurrency=0xc38f41a296a4493ff429f1238e030924a1542e50" class="btn btn-primary btn-lg ml-0 ml-md-20 buy-btn" target="_blank" role="button">Buy SNOB</a>

                            </div>
                            <!-- <div class="mt-20">
                                <a href="https://app.pangolin.exchange/#/swap?inputCurrency=0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7&outputCurrency=0xc38f41a296a4493ff429f1238e030924a1542e50" class="btn btn-primary btn-lg snob-tokens" target="_blank" role="button">
                                    Buy $SNOB
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-5 d-flex align-items-center justify-content-center">
                        <div class="content">
                            <br>
                            <div class="launchpad-animation-container">
                                <div class="rocket-container">
                                    <img class="animation infinite slow img-fluid" alt="Snowball" src="<%= PP %>/snowballAnimate.gif">
                                </div>
                                <div class="propellant-particles-container-row">
                                    <div class="propellant-particle blue animation infinite fast delay-small"></div>
                                    <div class="propellant-particle red large animation infinite"></div>
                                    <div class="propellant-particle yellow animation infinite fast delay-very-small"></div>
                                </div>
                                <div class="propellant-particles-container-row">
                                    <div class="propellant-particle shadow animation infinite fast delay-small"></div>
                                    <div class="propellant-particle shadow animation infinite fast delay-very-small"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="tokens">
                <div class="container-lg text-center">
                    <h2 class="">Tokens 🥇</h2>
                    <div class="row mx-auto p-0 bg-transparent">
                        <a href="https://info.pangolin.exchange/#/token/0xc38f41a296a4493ff429f1238e030924a1542e50" target="_blank" class="col-sm-6 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xc38f41a296a4493ff429f1238e030924a1542e50/logo.png">
                                    <div class="font-weight-bold">Snowball (SNOB)</div>
                                    <p class="font-size-12 text-break ">0xc38f41a296a4493ff429f1238e030924a1542e50</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xdE1A11C331a0E45B9BA8FeE04D4B51A745f1e4A4/transactions" target="_blank" class="col-sm-6 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/S3D.png">
                                    <div class="font-weight-bold">StableVault (S3D)</div>
                                    <p class="font-size-12 text-break ">0xdE1A11C331a0E45B9BA8FeE04D4B51A745f1e4A4</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="container-lg text-center">
                    <h2 class="">Contracts 📋</h2>
                    <div class="row mx-auto p-0 bg-transparent">
                        <a href="https://cchain.explorer.avax.network/address/0x6B41E5c07F2d382B921DE5C34ce8E2057d84C042/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/S3D.png">
                                    <div class="font-weight-bold">StableVault</div>
                                    <p class="font-size-12 text-break w-sm-full">0x6B41E5c07F2d382B921DE5C34ce8E2057d84C042</p>
                                    <div class="my-5">Audited by:</div>
                                    <img style="border-radius: 50%;" width="50px" src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/quantstamp.jpeg">
                                    <img style="border-radius: 50%;" width="50px" src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/openzeppelin.jpeg">
                                    <img style="border-radius: 50%;" width="50px" src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/certik.jpeg">
                                    <div class="my-5">Audits Financed by:</div>
                                    <img width="50px" src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/saddle.svg">
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xB12531a2d758c7a8BF09f44FC88E646E1BF9D375/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <div style="font-size: 40px">👸</div>
                                    <div class="font-weight-bold">IceQueen</div>
                                    <p class="font-size-12 text-break w-sm-full">0xB12531a2d758c7a8BF09f44FC88E646E1BF9D375</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xC38f41A296A4493Ff429F1238e030924A1542e50/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xc38f41a296a4493ff429f1238e030924a1542e50/logo.png">
                                    <div class="font-weight-bold">Snowball</div>
                                    <p class="font-size-12 text-break w-sm-full">0xC38f41A296A4493Ff429F1238e030924A1542e50</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xf7B8D9f8a82a7a6dd448398aFC5c77744Bd6cb85/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <div style="font-size: 40px">🤖</div>
                                    <div class="font-weight-bold">Controller</div>
                                    <p class="font-size-12 text-break w-sm-full">0xf7B8D9f8a82a7a6dd448398aFC5c77744Bd6cb85</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x53b37b9a6631c462d74d65d61e1c056ea9daa637/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-ETH</div>
                                    <p class="font-size-12 text-break w-sm-full">0x53b37b9a6631c462d74d65d61e1c056ea9daa637</p>
                                </div>
                            </div>
                        </a>                        
                        <a href="https://cchain.explorer.avax.network/address/0x763Aa38c837f61DD8429313933Cc47f24E881430/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-WBTC</div>
                                    <p class="font-size-12 text-break w-sm-full">0x763Aa38c837f61DD8429313933Cc47f24E881430</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x392c51Ab0AF3017E3e22713353eCF5B9d6fBDE84/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-LINK</div>
                                    <p class="font-size-12 text-break w-sm-full">0x392c51Ab0AF3017E3e22713353eCF5B9d6fBDE84</p>
                                </div>
                            </div>
                        </a>                        
                        <a href="https://cchain.explorer.avax.network/address/0x7987aDB3C789f071FeFC1BEb15Ce6DfDfbc75899/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-USDT</div>
                                    <p class="font-size-12 text-break w-sm-full">0x7987aDB3C789f071FeFC1BEb15Ce6DfDfbc75899</p>
                                </div>
                            </div>
                        </a>                        
                        <a href="https://cchain.explorer.avax.network/address/0x8eDd233546730C51a9d3840e954E5581Eb3fDAB1/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-SUSHI</div>
                                    <p class="font-size-12 text-break w-sm-full">0x8eDd233546730C51a9d3840e954E5581Eb3fDAB1</p>
                                </div>
                            </div>
                        </a>                        
                        <a href="https://cchain.explorer.avax.network/address/0xcD651AD29835099334d312a9372418Eb2b70c72F/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-DAI</div>
                                    <p class="font-size-12 text-break w-sm-full">0xcD651AD29835099334d312a9372418Eb2b70c72F</p>
                                </div>
                            </div>
                        </a>                        
                        <a href="https://cchain.explorer.avax.network/address/0x3270b685A4a61252C6f30c1eBca9DbE622984e22/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-AAVE</div>
                                    <p class="font-size-12 text-break w-sm-full">0x3270b685A4a61252C6f30c1eBca9DbE622984e22</p>
                                </div>
                            </div>
                        </a>                        
                        <a href="https://cchain.explorer.avax.network/address/0x14F98349Af847AB472Eb7f7c705Dc4Bee530713B/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-UNI</div>
                                    <p class="font-size-12 text-break w-sm-full">0x14F98349Af847AB472Eb7f7c705Dc4Bee530713B</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x234ed7c95Be12b2A0A43fF602e737225C83c2aa1/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">SnowGlobe PNG-YFI</div>
                                    <p class="font-size-12 text-break w-sm-full">0x234ed7c95Be12b2A0A43fF602e737225C83c2aa1</p>
                                </div>
                            </div>
                        </a>                                                
                        <a href="https://cchain.explorer.avax.network/address/0x586554828eE99811A8ef75029351179949762c26/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">SnowGlobe AVAX-ETH</div>
                                    <p class="font-size-12 text-break w-sm-full">0x586554828eE99811A8ef75029351179949762c26</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x621207093D2e65Bf3aC55dD8Bf0351B980A63815/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">SnowGlobe AVAX-PNG</div>
                                    <p class="font-size-12 text-break w-sm-full">0x621207093D2e65Bf3aC55dD8Bf0351B980A63815</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x751089F1bf31B13Fa0F0537ae78108088a2253BF/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">SnowGlobe AVAX-SUSHI</div>
                                    <p class="font-size-12 text-break w-sm-full">0x751089F1bf31B13Fa0F0537ae78108088a2253BF</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x00933c16e06b1d15958317C2793BC54394Ae356C/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">SnowGlobe AVAX-LINK</div>
                                    <p class="font-size-12 text-break w-sm-full">0x00933c16e06b1d15958317C2793BC54394Ae356C</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x3fcFBCB4b368222fCB4d9c314eCA597489FE8605/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">SnowGlobe AVAX-USDT</div>
                                    <p class="font-size-12 text-break w-sm-full">0x3fcFBCB4b368222fCB4d9c314eCA597489FE8605</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x39BE35904f52E83137881C0AC71501Edf0180181/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">SnowGlobe AVAX-WBTC</div>
                                    <p class="font-size-12 text-break w-sm-full">0x39BE35904f52E83137881C0AC71501Edf0180181</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xde3bE8a846e4311447462482E91e4b97115222e6/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-ETH</div>
                                    <p class="font-size-12 text-break w-sm-full">0xde3bE8a846e4311447462482E91e4b97115222e6</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xafbA321B14A22501466d18eA0D9616f8e90Fc378/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-WBTC</div>
                                    <p class="font-size-12 text-break w-sm-full">0xafbA321B14A22501466d18eA0D9616f8e90Fc378</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xe11248e5c0a98038633603F291267b74183AB7be/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-LINK</div>
                                    <p class="font-size-12 text-break w-sm-full">0xe11248e5c0a98038633603F291267b74183AB7be</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xAF1F77739E87a1bDA1114e13d4aF86c8546f3996/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-USDT</div>
                                    <p class="font-size-12 text-break w-sm-full">0xAF1F77739E87a1bDA1114e13d4aF86c8546f3996</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xdC3F53a364BE3b38d6f8e6a087f61cb2af58FC51/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-SUSHI</div>
                                    <p class="font-size-12 text-break w-sm-full">0xdC3F53a364BE3b38d6f8e6a087f61cb2af58FC51</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x8eE25bdfe0B749B78157505B92bd919414Af696c/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-UNI</div>
                                    <p class="font-size-12 text-break w-sm-full">0x8eE25bdfe0B749B78157505B92bd919414Af696c</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x47F884e0bfC0e56eCDc581e2774efeC12874f7FD/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-AAVE</div>
                                    <p class="font-size-12 text-break w-sm-full">0x47F884e0bfC0e56eCDc581e2774efeC12874f7FD</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x93bc576943Ef7452888dD810f502595Ee83187EE/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-YFI</div>
                                    <p class="font-size-12 text-break w-sm-full">0x93bc576943Ef7452888dD810f502595Ee83187EE</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x53a6fFE10AdB8db0D861BF264134D42CAC03a1Bd/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0x60781c2586d68229fde47564546784ab3faca982/logo.png">
                                    <div class="font-weight-bold">Strategy PNG-DAI</div>
                                    <p class="font-size-12 text-break w-sm-full">0x53a6fFE10AdB8db0D861BF264134D42CAC03a1Bd</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x2D26A50d4b4213b5Bd3e4856A6acdfc493D0b12b/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">Strategy AVAX-ETH</div>
                                    <p class="font-size-12 text-break w-sm-full">0x2D26A50d4b4213b5Bd3e4856A6acdfc493D0b12b</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x08d8C7C1a6E8543a4674E77cc0111EAa1D520f8b/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">Strategy AVAX-PNG</div>
                                    <p class="font-size-12 text-break w-sm-full">0x08d8C7C1a6E8543a4674E77cc0111EAa1D520f8b</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xe34e6d0992Aaeb9F313A455A9a030Ce677Acc60e/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">Strategy AVAX-SUSHI</div>
                                    <p class="font-size-12 text-break w-sm-full">0xe34e6d0992Aaeb9F313A455A9a030Ce677Acc60e</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x974Ef0bDA58C81F3094e124f530eF34fe70dc103/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">Strategy AVAX-LINK</div>
                                    <p class="font-size-12 text-break w-sm-full">0x974Ef0bDA58C81F3094e124f530eF34fe70dc103</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0xFccb3EAE602Cc663BD8a841CD13AE3bE5026441e/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">Strategy AVAX-USDT</div>
                                    <p class="font-size-12 text-break w-sm-full">0xFccb3EAE602Cc663BD8a841CD13AE3bE5026441e</p>
                                </div>
                            </div>
                        </a>
                        <a href="https://cchain.explorer.avax.network/address/0x846275D9153f6c89dE066b5EAF9DEb658298f54b/contracts" target="_blank" class="col-sm-3 pb-4 mx-auto">
                            <div class="card br-25 border border-2 snob-tokens" >
                                <div class="card-body text-center">
                                    <img class="rounded-circle" width="48" src="https://x-api.snowball.network/assets/avalanche-tokens/0xb31f66aa3c1e785363f0875a1b74e27b85fd66c7/logo.png" alt="AVAX-USDT Pangolin LP">
                                    <div class="font-weight-bold">Strategy AVAX-WBTC</div>
                                    <p class="font-size-12 text-break w-sm-full">0x846275D9153f6c89dE066b5EAF9DEb658298f54b</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </section>
            <%- include(`${partials}/footer`); -%>
        </div>
    </div>
    <!-- Content particles -->
    <div id="particles-js"></div>
    <!-- Content particles end -->
</div>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Init Particle JS
    particlesJS.load(
      "particles-js",
      "<%= PP %>/particlesjs-config.json",
      function() {}
    );
  });
</script>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>
