<head>
    <meta charset="UTF-8">
    <!-- Primary Meta Tags -->
    <title>Snowball</title>
    <meta name="title" content="Snowball">
    <meta name="description" content="❄️ DeFi on Avalanche">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://snowball.network">
    <meta property="og:title" content="Snowball">
    <meta property="og:description" content="❄️ DeFi on Avalanche">
    <meta property="og:image" content="https://media.discordapp.net/attachments/818991928951439371/821075255544119396/image0.png?width=630&height=630">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://snowball.network">
    <meta property="twitter:title" content="Snowball">
    <meta property="twitter:description" content="❄️ DeFi on Avalanche">
    <meta name="twitter:image" content="https://media.discordapp.net/attachments/818991928951439371/821075255544119396/image0.png?width=630&height=630">
    <meta property="twitter:image" content="https://media.discordapp.net/attachments/818991928951439371/821075255544119396/image0.png?width=630&height=630">
    <% if(filenameMap) { %>
        <link rel="stylesheet" href="<%= PP %>/css/<%= filenameMap['index.css'] %>">
        <link rel="preload" href="<%= PP %>/js/<%= filenameMap['vendor.js'] %>" as="script">
        <link rel="prefetch" href="<%= PP %>/js/<%= filenameMap['vendor.js'] %>">
        <link rel="preload" href="<%= PP %>/js/<%= filenameMap['app.js'] %>" as="script">
        <link rel="prefetch" href="<%= PP %>/js/<%= filenameMap['app.js'] %>">
    <% } else { %>
        <link rel="stylesheet" href="<%= PP %>/css/index.css">
        <link rel="preload" href="<%= PP %>/js/vendor.js" as="script">
        <link rel="prefetch" href="<%= PP %>/js/vendor.js">
        <link rel="preload" href="<%= PP %>/js/app.js" as="script">
        <link rel="prefetch" href="<%= PP %>/js/app.js">
    <% } %>
    <link rel="shortcut icon" type="image/png" href="<%= PP %>/android-chrome-512x512.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= PP %>/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= PP %>/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= PP %>/favicon-16x16.png">
    <link rel="manifest" href="<%= PP %>/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="manifest" href="<%= PP %>/manifest.json">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous"> -->
    <script type="module" src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NZW5VG3KCS');
    </script>
</head>
<%- include(`${partials}/quick`); -%>
