<div class="page-wrapper with-navbar">
	<nav class="navbar">
        <span class="navbar-text text-monospace">v0.2</span>
		<ul class="navbar-nav d-none d-md-flex mx-auto">
			<li class="nav-item"> <a href="<%= PP %>/" class="nav-link">Home</a> </li>
			<li class="nav-item"> <a href="<%= PP %>/stablevault/" class="nav-link">StableVault</a> </li>
			<li class="nav-item"> <a href="<%= PP %>/snowglobes/" class="nav-link">Compound</a> </li>
			<li class="nav-item"> <a href="<%= PP %>/icequeen/" class="nav-link">Earn SNOB</a> </li>
<!--			<li class="nav-item"> <a href="<%= PP %>/governance/" class="nav-link">Governance</a> </li>-->
			<li class="nav-item"> <a href="<%= PP %>/faq/" class="nav-link">FAQ</a> </li>
		</ul>
		<img height="90px" src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/poweredbyavalanche.png">
		<div class="form-inline d-none d-md-flex">
			<button class="btn btn-action mr-5" type="button" onclick="snowballDarkmode()" aria-label="Toggle dark mode"> <ion-icon name="sunny-outline"></ion-icon></button>
		</div>
		<div class="navbar-content d-md-none ml-auto">
			<div class="dropdown with-arrow">
				<button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1"> Menu <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
				<div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1">
					<a href="<%= PP %>/" class="dropdown-item">Home</a>
					<a href="<%= PP %>/stablevault/" class="dropdown-item">StableVault</a>
                    <a href="<%= PP %>/snowglobes/" class="dropdown-item">Compound</a>
                    <a href="<%= PP %>/icequeen/" class="dropdown-item">Earn SNOB</a>
<!--					<a href="<%= PP %>/governance/" class="dropdown-item">Governance</a>-->
					<a href="<%= PP %>/faq/" class="dropdown-item">FAQ</a>
					<div class="dropdown-divider"></div>
					<div class="p-5">
						<button class="btn btn-action mr-5" type="button" onclick="snowballDarkmode()" aria-label="Toggle dark mode"> <i class="fa fa-moon-o" aria-hidden="true"></i> </button> Dark Mode
                    </div>
				</div>
			</div>
		</div>
	</nav>
</div>
