<nav class="navbar">
	<div class="container-lg">
		<a href="https://snowball.network" class="navbar-brand col-md-3">
			<div class="logo"></div>
		</a>
		<ul class="hidden-sm-and-down navbar-nav col-md-6 font-size-14 font-weight-bold">
			<li class="nav-item mx-auto"> <a href="<%= PP %>/ido/" class="nav-link">IDO</a> </li>
			<li class="nav-item mx-auto"> <a href="<%= PP %>/stablevault/" class="nav-link">StableVault</a> </li>
			<li class="nav-item mx-auto"> <a href="<%= PP %>/compound/" class="nav-link">Compound</a> </li>
			<li class="nav-item mx-auto"> <a href="<%= PP %>/earn_v2/" class="nav-link">Earn SNOB</a> </li>
			<li class="nav-item mx-auto"> <a href="https://staking.snowball.network" target="_blank" class="nav-link">xSNOB</a> </li>
			<li class="nav-item mx-auto"> <a href="<%= PP %>/governance_v2/" class="nav-link">Vote</a> </li>
			<li class="nav-item mx-auto"> <a href="<%= PP %>/nft/" class="nav-link">NFT</a> </li>
			<li class="nav-item mx-auto"> <a href="<%= PP %>/faq/" class="nav-link">FAQ</a> </li>
		</ul>
		<div class="navbar-content col-md-3">
			<div class="form-inline d-none d-md-flex mx-auto pr-20">
				<!-- <a href="#" class="btn btn-primary" role="button">
                    <ion-icon name="wallet-outline"></ion-icon> Connect Wallet</a> -->
				<button class="btn btn-action mr-5" type="button" onclick="snowballDarkmode()" aria-label="Toggle dark mode"> <ion-icon name="moon-outline"></ion-icon></button>
			</div>
			<div class="dropdown with-arrow hidden-md-and-up ml-auto">
				<button class="btn navbar-menu-btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn" aria-haspopup="true" aria-expanded="false">
					<span class="text">Menu</span>
					<ion-icon name="chevron-down-outline"></ion-icon>
				</button>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-toggle-btn">
					<a href="<%= PP %>/ido/" class="dropdown-item">IDO</a>
					<a href="<%= PP %>/stablevault/" class="dropdown-item">StableVault</a>
					<a href="<%= PP %>/compound/" class="dropdown-item">Compound</a>
					<a href="<%= PP %>/earn_v2/" class="dropdown-item">Earn SNOB</a>
					<a href="https://staking.snowball.network" target="_blank" class="dropdown-item">xSNOB</a>
					<a href="<%= PP %>/governance_v2/" class="dropdown-item">Vote</a>
					<a href="<%= PP %>/nft/" class="dropdown-item">NFT</a>
					<a href="<%= PP %>/faq/" class="dropdown-item">FAQ</a>
					<div class="dropdown-divider"></div>
					<div class="p-5">
						<button class="btn btn-action mr-5" type="button" onclick="snowballDarkmode()" aria-label="Toggle dark mode"> <ion-icon name="moon-outline"></ion-icon> </button> Dark Mode
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>