<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<script>
    if (window.localStorage.getItem('snowballDarkmode') == 'true') {
        document.body.classList.add('dark-mode');
    }

    fetch('https://x-api.snowball.network/tvl/snob.json').then(function (response) {
      return response.json();
    }).then(function (info) {
      let tvl = info.pairs[0].locked;
      document.getElementById('combined_supply').innerHTML = '$' + new Intl.NumberFormat('en-US').format(tvl);
    }).catch(function (err) {
      console.log('could not get tvl');
    });

</script>
<body>
<%- include(`${partials}/header_main`); -%>

<%- include(`${partials}/wallet_error`); -%>

<div class="modal" id="modal-1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" role="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <h5 class="modal-title">Review Deposit</h5>
            <div class="col-md-6">
                <div class="my-5 font-weight-semi-bold font-size-16">Depositing</div>
                <div class="my-5" style="display: flex">
                    <img class="token-logo mr-5" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xde3A24028580884448a5397872046a019649b084/logo.png">
                    <span class="mr-5">USDT: </span><span style="margin-left: auto" id="token_1_deposit_amt"></span>
                </div>
                <div class="my-5" style="display: flex">
                    <img class="token-logo mr-5" src="https://assets.coingecko.com/coins/images/9576/small/BUSD.png?1568947766">
                    <span class="mr-5">BUSD: </span><span style="margin-left: auto" id="token_2_deposit_amt"></span>
                </div>
                <div class="my-5" style="display: flex">
                    <img class="token-logo mr-5" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xbA7dEebBFC5fA1100Fb055a87773e1E99Cd3507a/logo.png">
                    <span class="mr-5">DAI: </span><span style="margin-left: auto" id="token_3_deposit_amt"></span>
                </div>
                <div class="my-5 font-weight-bold" style="display: flex">
                    <span class="mr-5 font-size-14">Total: </span><span style="margin-left: auto" id="total_deposit_amt"></span>
                </div>
            </div>
            <hr class="my-10">
            <div class="col-md-6">
                <div class="my-5 font-weight-semi-bold font-size-16">Receiving</div>
                <div class="my-5 font-weight-bold" style="display: flex">
                    <span class="mr-5 font-size-14">s3D:</span><span style="margin-left: auto" id="receiving_amt"></span>
                </div>
                <div class="my-5" id="premium_row" style="display: flex">
                    <span class="mr-5 font-size-14" id="premium_label">Premium/Discount:</span><span style="margin-left: auto" id="premium_amt"></span>
                </div>
            </div>
            <hr class="my-10">
            <div class="col-md-6">
                <div class="my-5" style="display: flex">
                    <span class="mr-5 font-size-14">Max slippage:</span><span style="margin-left: auto" id="max_slippage"></span>%
                </div>
            </div>
            <hr class="my-10">
            <div class="font-size-8 font-italic mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                Output is estimated. If the price changes by more than the max slippage the transaction will revert.
            </div>
            <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                <a href="#" class="btn mr-5" role="button">Close</a>
                <button id="deposit_confirm_btn" class="btn btn-primary" type="button">Confirm Deposit</button>
                <span style="display: none;" id="deposit_success">Deposit Successful</span>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal-2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" role="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <h5 class="modal-title">You will receive</h5>
            <div class="col-md-6">
                <div class="my-5" style="display: flex">
                    <img class="token-logo mr-5" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xde3A24028580884448a5397872046a019649b084/logo.png">
                    <span class="mr-5">USDT: </span><span style="margin-left: auto" id="token_1_withdraw_amt"></span>
                </div>
                <div class="my-5" style="display: flex">
                    <img class="token-logo mr-5" src="https://assets.coingecko.com/coins/images/9576/small/BUSD.png?1568947766">
                    <span class="mr-5">BUSD: </span><span style="margin-left: auto" id="token_2_withdraw_amt"></span>
                </div>
                <div class="my-5" style="display: flex">
                    <img class="token-logo mr-5" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xbA7dEebBFC5fA1100Fb055a87773e1E99Cd3507a/logo.png">
                    <span class="mr-5">DAI: </span><span style="margin-left: auto" id="token_3_withdraw_amt"></span>
                </div>
            </div>
            <hr class="my-10">
            <div class="col-md-6">
                <div class="my-5" style="display: flex">
                    <span class="mr-5 font-size-14">Max slippage:</span><span style="margin-left: auto">0.1%</span>
                </div>
            </div>
            <hr class="my-10">
            <div class="font-size-8 font-italic mt-20">
                Output is estimated. If the price changes by more than the max slippage the transaction will revert.
            </div>
            <div class="text-right mt-20">
                <a href="#" class="btn mr-5" role="button">Close</a>
                <button id="withdraw_confirm_btn" class="btn btn-primary" type="button">Confirm Withdraw</button>
                <span style="display: none;" id="withdraw_success">Withdraw Successful</span>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper with-navbar with-transitions">
    <div class="loader--1">
        <div class="loadingio-spinner-ripple-0rfeupqpquh"><div class="ldio-4ixcy4bihgi">
                <div></div><div></div>
            </div></div>
    </div>
    <!-- Content wrapper start -->
    <div class="content-wrapper d-lg-flex">
        <div class="container-lg">
            <div style="text-align: center">
                <h2 style="margin-right: 40px">StableVault <img class="img-fluid" style="vertical-align: text-top" width="40px"src="https://raw.githubusercontent.com/Snowball-Finance/Assets/main/S3D.png"></h2>
            </div>
            <div class="row">
                <div class="card col-xs-12 col-sm-5 col-md-5">
                    <h2 class="content-title">
                        Swap <ion-icon name="swap-horizontal-outline"></ion-icon>
                    </h2>
                    <div class="col-xs-6 font-size-14">
                        <div class="mb-10"><span class="font-weight-bold">From: </span><span class="float-right mr-20">Balance: <span id="from_balance"></span></span></div>
                        <div class="dropdown mr-10">
                            <button class="btn" data-toggle="dropdown" type="button" id="from-dropdown" aria-haspopup="true" aria-expanded="false">
                                <div id="from_usdt_button">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xde3A24028580884448a5397872046a019649b084/logo.png">
                                        <span class="ml-10">USDT</span><ion-icon style="margin: 7px;" name="caret-down-outline"></ion-icon>
                                    </div>
                                </div>
                                <div style="display: none;" id="from_busd_button">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://assets.coingecko.com/coins/images/9576/small/BUSD.png?1568947766">
                                        <span class="ml-10">BUSD</span><ion-icon style="margin: 7px;" name="caret-down-outline"></ion-icon>
                                    </div>
                                </div>
                                <div style="display: none;" id="from_dai_button">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xbA7dEebBFC5fA1100Fb055a87773e1E99Cd3507a/logo.png">
                                        <span class="ml-10">DAI</span><ion-icon style="margin: 7px;" name="caret-down-outline"></ion-icon>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-toggle-btn-1">
                                <a id="from_usdt" href="#" class="dropdown-item">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xde3A24028580884448a5397872046a019649b084/logo.png">
                                        <span class="ml-10">USDT</span>
                                    </div>
                                </a>
                                <a id="from_busd" href="#" class="dropdown-item">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://assets.coingecko.com/coins/images/9576/small/BUSD.png?1568947766">
                                        <span class="ml-10">BUSD</span>
                                    </div>
                                </a>
                                <a id="from_dai" href="#" class="dropdown-item">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xbA7dEebBFC5fA1100Fb055a87773e1E99Cd3507a/logo.png">
                                        <span class="ml-10">DAI</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div>
                            <a style="display: none;" href="#" id="approve_swap_btn_usdt"> Approve<br></a>
                            <a style="display: none;" href="#" id="revoke_swap_btn_usdt"> Revoke<br></a>
                            <a style="display: none;" href="#" id="approve_swap_btn_busd"> Approve<br></a>
                            <a style="display: none; " href="#" id="revoke_swap_btn_busd"> Revoke<br></a>
                            <a style="display: none;" href="#" id="approve_swap_btn_dai"> Approve<br></a>
                            <a style="display: none;" href="#" id="revoke_swap_btn_dai"> Revoke<br></a>
                        </div>
                        <div class="mt-10 input-group">
                            <input id="swap_input" type="number" value="0" min="0" class="mb-10 form-control" placeholder="Enter amount">
                            <div class="input-group-append">
                                <button id="swap_max" class="btn" type="button">MAX</button>
                            </div>
                        </div>
                        <div class="mb-10"><span class="font-size-16 font-weight-bold">To: </span></div>
                        <div class="dropdown">
                            <button class="btn" data-toggle="dropdown" type="button" id="dropdown-toggle-btn-1" aria-haspopup="true" aria-expanded="false">
                                <div style="display: none;" id="to_usdt_button">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xde3A24028580884448a5397872046a019649b084/logo.png">
                                        <span class="ml-10">USDT</span> <ion-icon style="margin: 7px;" name="caret-down-outline"></ion-icon>
                                    </div>
                                </div>
                                <div id="to_busd_button">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://assets.coingecko.com/coins/images/9576/small/BUSD.png?1568947766">
                                        <span class="ml-10">BUSD</span> <ion-icon style="margin: 7px;" name="caret-down-outline"></ion-icon>
                                    </div>
                                </div>
                                <div style="display: none;" id="to_dai_button">
                                    <div style="display: flex;">
                                        <img class="token-logo token-logo-bump" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xbA7dEebBFC5fA1100Fb055a87773e1E99Cd3507a/logo.png">
                                        <span class="ml-10">DAI</span> <ion-icon style="margin: 7px;" name="caret-down-outline"></ion-icon>
                                    </div>
                                </div>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-toggle-btn-1">
                                <a id="to_usdt" href="#" class="dropdown-item">
                                    <div style="display: flex;">
                                        <img class="token-logo" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xde3A24028580884448a5397872046a019649b084/logo.png">
                                        <span class="ml-10"> USDT</span>
                                    </div>
                                </a>
                                <a id="to_busd" href="#" class="dropdown-item">
                                    <div style="display: flex;">
                                        <img class="token-logo" src="https://assets.coingecko.com/coins/images/9576/small/BUSD.png?1568947766">
                                        <span class="ml-10"> BUSD</span>
                                    </div>
                                </a>
                                <a id="to_dai" href="#" class="dropdown-item">
                                    <div style="display: flex;">
                                        <img class="token-logo" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xbA7dEebBFC5fA1100Fb055a87773e1E99Cd3507a/logo.png">
                                        <span class="ml-10"> DAI</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <input disabled id="swap_calculated" type="number" value="0" min="0" class="mt-10 mb-10 form-control">
                        <br>
                        <a href="#" id="swap_btn" class="btn btn-primary" role="button">Swap</a>
                        <hr class="my-20"/>
                        <details class="collapse-panel w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                            <summary class="collapse-header">
                                Advanced Options
                            </summary>
                            <div class="collapse-content">
                                <div>Max Slippage </div>
                                <!-- Horizontally stacked radio buttons -->
                                <div class="custom-radio d-inline-block mr-10"> <!-- d-inline-block = display: inline-block, mr-10 = margin-right: 1rem (10px) -->
                                    <input checked type="radio" name="radio-set-2" id="swap-radio-1" value="0.1">
                                    <label for="swap-radio-1">0.1%</label>
                                </div>
                                <div class="custom-radio d-inline-block mr-10">
                                    <input type="radio" name="radio-set-2" id="swap-radio-2" value="1">
                                    <label for="swap-radio-2">1%</label>
                                </div>
                                <div class="custom-radio d-inline-block">
                                    <input type="radio" name="radio-set-2" id="swap-radio-3" value="custom">
                                    <label for="swap-radio-3">Custom %:</label>
                                </div>
                                <input type="number" min="0" max="100" id="swap_custom_slippage" class="w-50">
                            </div>
                        </details>
                    </div>
                </div>
                <div class="card col-xs-8 col-sm-5 col-md-5">
                    <h2 class="content-title">
                        Add Liquidity <ion-icon name="add-circle-outline"></ion-icon>
                    </h2>
                    <div class="mb-10">Deposit any combination of tokens</div>
                    <div class="col-xs-6">
                        <div class="token-input">
                            <div style="display: flex">
                                <img class="token-logo mr-5" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xde3A24028580884448a5397872046a019649b084/logo.png">
                                <span class="mr-5">USDT - Balance: </span><span class="font-size-14 font-weight-bold" id="token_1_balance"></span>
                            </div>
                            <a style="display:none" id="token_1_revoke" href="#"> Revoke</a>
                            <a style="display:none" id="token_1_approve" href="#"> Approve</a>
                            <div class="input-group">
                                <input id="token_1_input" type="number" value="0" min="0" size="20" class="mb-10 form-control" placeholder="Enter amount">
                                <div class="input-group-append">
                                    <button id="token_1_max" class="btn" type="button">MAX</button>
                                </div>
                            </div>
                        </div>
                        <div class="token-input">
                            <div style="display: flex">
                                <img class="token-logo mr-5" src="https://assets.coingecko.com/coins/images/9576/small/BUSD.png?1568947766">
                                <span class="mr-5">BUSD - Balance: </span><span class="font-size-14 font-weight-bold" id="token_2_balance"></span>
                            </div>
                            <a style="display:none" id="token_2_revoke" href="#"> Revoke</a>
                            <a style="display:none" id="token_2_approve" href="#"> Approve</a>
                            <div class="input-group">
                                <input id="token_2_input" type="number" value="0" min="0" class="mb-10 form-control" placeholder="Enter amount">
                                <div class="input-group-append">
                                    <button id="token_2_max" class="btn" type="button">MAX</button>
                                </div>
                            </div>
                        </div>
                        <div class="token-input">
                            <div style="display: flex">
                                <img class="token-logo mr-5" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xbA7dEebBFC5fA1100Fb055a87773e1E99Cd3507a/logo.png">
                                <span class="mr-5">DAI - Balance: </span><span class="font-size-14 font-weight-bold" id="token_3_balance"></span>
                            </div>
                            <a style="display:none" id="token_3_revoke" href="#"> Revoke</a>
                            <a style="display:none" id="token_3_approve" href="#"> Approve</a>
                            <div class="input-group">
                                <input id="token_3_input" type="number" value="0" min="0" class="mb-10 form-control" placeholder="Enter amount">
                                <div class="input-group-append">
                                    <button id="token_3_max" class="btn" type="button">MAX</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <a href="#modal-1" id="deposit_btn" class="btn btn-primary" role="button">Deposit</a>
                        <hr class="my-20"/>
                        <details class="collapse-panel w-400 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
                            <summary class="collapse-header">
                                Advanced Options
                            </summary>
                            <div class="collapse-content">
                                <div>Max Slippage </div>
                                <!-- Horizontally stacked radio buttons -->
                                <div class="custom-radio d-inline-block mr-10"> <!-- d-inline-block = display: inline-block, mr-10 = margin-right: 1rem (10px) -->
                                    <input type="radio" name="radio-set-1" id="radio-1" value="0.1">
                                    <label for="radio-1">0.1%</label>
                                </div>
                                <div class="custom-radio d-inline-block mr-10">
                                    <input checked type="radio" name="radio-set-1" id="radio-2" value="1">
                                    <label for="radio-2">1%</label>
                                </div>
                                <div class="custom-radio d-inline-block">
                                    <input type="radio" name="radio-set-1" id="radio-3" value="custom">
                                    <label for="radio-3">Custom %:</label>
                                </div>
                                <input type="number" min="0" max="100" id="custom_slippage" class="w-50">
                            </div>
                        </details>
                    </div>
                </div>

            </div>
            <div class="row font-size-14">
                <div class="card col-xs-12 col-sm-5 col-md-5">
                    <h2 class="content-title">
                        Transactions <ion-icon name="stats-chart-outline"></ion-icon>
                    </h2>
                    <div id="recent-transactions">
                    </div>
                </div>
                <div class="card col-xs-8 col-sm-5 col-md-5">
                    <h2 class="content-title">
                        My Share <ion-icon name="pie-chart-outline"></ion-icon>
                    </h2>
                    <div>
                        <div class="font-size-16">
                            <span class="font-size-18 font-weight-bold" id="withdraw_balance"></span> s3D
                            <span class="text-success font-size-16 font-weight-bold float-right" id="pool_percent">%</span>
                        </div>
                        <a href="#modal-2" class="font-weight-bold" id="withdraw_btn">Remove Liquidity<br></a>
                        <a style="display: none" href="#" id="revoke_lp_btn"> Revoke<br></a>
                        <a style="display: none" href="#" id="approve_lp_btn"> Approve<br></a>
                        <div class="font-size-14 mt-5">
                            <span id="staked_balance"></span> s3D staked
                        </div>
                    </div>
                    <hr class="my-20"/>
                    <h2 class="content-title">
                        Currency Reserves
                    </h2>
                    <div>
                        <div class="my-10" style="display: flex">
                            <img class="token-logo" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xde3A24028580884448a5397872046a019649b084/logo.png">
                            <span class="ml-5">USDT </span><span class="text-success ml-10 font-size-14 font-weight-bold" id="t1_supply_percentage">%</span><span id="t1_supply" style="margin-left: auto;" class="float-right font-size-14 font-weight-bold">$</span>
                        </div>
                        <div class="my-10" style="display: flex">
                            <img class="token-logo" src="https://assets.coingecko.com/coins/images/9576/small/BUSD.png?1568947766">
                            <span class="ml-5">BUSD </span><span class="text-success ml-10 font-size-14 font-weight-bold" id="t2_supply_percentage">%</span><span id="t2_supply" style="margin-left: auto;" class="float-right font-size-14 font-weight-bold">$</span></div>
                        <div class="my-10" style="display: flex">
                            <img class="token-logo" src="https://raw.githubusercontent.com/ava-labs/bridge-tokens/main/avalanche-tokens/0xbA7dEebBFC5fA1100Fb055a87773e1E99Cd3507a/logo.png">
                            <span class="ml-5">DAI </span><span class="text-success ml-20 font-size-14 font-weight-bold" id="t3_supply_percentage">%</span><span id="t3_supply" style="margin-left: auto;" class="float-right font-size-14 font-weight-bold">$</span>
                        </div>
                        <div class="my-20 font-size-16">Total<span id="combined_supply" class="font-size-16 font-weight-bold float-right">$</span></div>
                    </div>
                </div>
            </div>

        <h1 class="error"></h1>

        <pre id="log" style="margin-left: 10px;">
        </pre>

        <%- include(`${partials}/scripts`, {scriptname: 'stablevault'}); -%>
        <%- include(`${partials}/footer`); -%>
    </div>
</div>
</body>
</html>
