<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<script>
  if (window.localStorage.getItem('snowballDarkmode') == 'true') {
    document.body.classList.add('dark-mode');
  }

</script>
<body>
<%- include(`${partials}/header_main`); -%>

<%- include(`${partials}/wallet_error`); -%>


<div class="page-wrapper with-navbar with-transitions">
    <div class="loader--1">
        <div class="loadingio-spinner-ripple-0rfeupqpquh"><div class="ldio-4ixcy4bihgi">
                <div></div><div></div>
            </div></div>
    </div>
    <!-- Content wrapper start -->
    <div class="content-wrapper d-lg-flex">
        <div class="container-lg">
            <div class="ml-20" style="text-align: center"><h2>NFTs</h2></div>
            <div class="row">
                <div class="col-sm-3 col-sm-3 col-md-3"></div>
                <div class="col-sm-3 col-sm-3 col-md-2">
                    <button id="shop_tab" class="font-size-16 btn-block btn btn-primary" type="button">
                        Shop 🛍️</button>
                </div>
                <div class="col-sm-3 col-sm-3 col-md-2">
                    <button id="claim_tab" class="font-size-16 btn-block btn" type="button">
                        Claim 🛄</button>
                </div>
                <div class="col-sm-3 col-sm-3 col-md-2">
                    <button id="gallery_tab" class="font-size-16 btn-block btn" type="button">
                        Your Gallery 🖼️</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-2"></div>
                <div class="card col-xs-12 col-sm-7 col-md-7">
                    <div id="shop_section">
                        <div class="text-center col-md-12 font-size-20 font-weight-bold mb-5">Shop</div>
                        <div class="text-center">
                            <div class="font-weight-bold font-size-16">Snow Ball Head</div>
                            <div><b>Artist: </b><a href="https://twitter.com/fennec_nft" target="_blank">Fennec</a></div>
                            <div><b>Proceeds: </b>10% to Artist, 90% to Snowball treasury</div>
                            <div><b>Mint Type: </b>Limited edition w/ bonding curve</div>
                            <div><b>1-30: </b>0.3 AVAX</div>
                            <div><b>31-60: </b>0.4 AVAX, <b>61-90: </b>0.5 AVAX</div>
                            <div><b>91-120: </b>0.6 AVAX, <b>121-130: </b>1 AVAX</div>
                            <div><b>131-140: </b>2 AVAX, <b>141-150: </b>5 AVAX</div>
                        </div>
                        <div id="snowball_head" class="row col-xs-12 col-sm-12 col-md-12">
                        </div>
                        <div class="text-center">
                            <div class="font-weight-bold font-size-16">The "Rolling Sasquatch" series </div>
                            <div><b>Artist: </b><a href="https://twitter.com/LouisLeeCrypto" target="_blank">Louis Lee</a></div>
                            <div><b>Proceeds: </b>50% to Artist, 50% to Snowball treasury</div>
                            <div><b>Mint Type: </b>Limited edition</div>
                        </div>
                        <div id="shop_items" class="row col-xs-12 col-sm-12 col-md-12">
                        </div>
                    </div>

                    <div style="display: none" id="claim_section" class="row">
                        <div class="text-center col-md-12 font-size-20 font-weight-bold mb-5">Early Voter NFT 🗳️</div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="mb-10">
                                Description: Voted on Proposal 1 or Proposal 2 during the first week of Snowball Governance
                            </div>
                            <div class="mb-10">
                                Type: ERC-721 Token
                            </div>
                            <div class="mb-10">
                                Status: <span id="early_vote_status"></span>
                            </div>
                            <div>
                                <div style="display: none;" id="claim_early_vote_claimed">Already claimed</div>
                                <button style="display: none;" id="claim_early_vote" class="mb-10 font-size-16 btn-block btn btn-primary" type="button">Claim</button>
                            </div>
                        </div>
                    </div>
                    <div style="display: none" id="gallery_section" class="row">
                        <div class="text-center col-md-12 font-size-20 font-weight-bold mb-5">Your Gallery</div>
                        <hr/>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div id="no_nft">No NFTs in your gallery.</div>
                            <div id="nft_section" class="mr-auto ml-auto col-md-8">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <%- include(`${partials}/footer`); -%>
        </div>

        <div>
            <h1 class="error"></h1>



            <%- include(`${partials}/scripts`, {scriptname: 'nft'}); -%>

        </div>
    </div>
</div>
</body>
</html>
