<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<script>
    if (window.localStorage.getItem('snowballDarkmode') == 'true') {
        document.body.classList.add('dark-mode');
    }
</script>
<body>
<%- include(`${partials}/header_main`); -%>

<%- include(`${partials}/wallet_error`); -%>

<div class="page-wrapper with-navbar with-transitions">
    <!-- Content wrapper start -->
    <div class="content-wrapper d-lg-flex">
        <div class="container-lg">

            <div id="account-info" class="col-xs-12 col-md-12" style="display: none;">
                <div class="card br-8 box-shadow-1">
                    <div id="particles-js" class="row mw-full m-0 p-0 d-flex" rel="noopener">
                        <div class="col-xs-12 col-md-6 align-items-center">
                            <div class="p-10 w-full m-auto">
                                <h3 class="font-size-16 m-0 font-weight-semi-bold text-dark-lm text-light-dm">
                                    <!-- <i class="fa fa-usd ml-5" aria-hidden="true"></i> -->
                                    <span class="font-size-14 font-weight-regular">
                                        You have 
                                        <span class="font-size-16 font-weight-bold" id="wallet-pending" data-toggle="tooltip" data-title="Total Snowballs"></span> SNOB</span>
                                    ($<span class="font-size-14 font-weight-regular" id="value" data-toggle="tooltip" data-title="Total value of Snowballs in USD"></span>)
                                </h3>
                                <p class="m-0 mt-5 text-muted font-size-12">
                                    Wallet: <span id="wallet"></span>
                                </p>
                                <p class="m-0 mt-5 text-muted font-size-12">
                                    Pending: <span id="pending"></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 align-items-center" >
                            <div class="w-full m-auto w-clipboard"  data-toggle="tooltip" data-placement="bottom" data-title="Copy your wallet address to clipboard">
                                <div class="card p-10 w-full m-auto border border-2 snob-tokens">
                                    <div class="d-flex flex-row justify-content-right align-items-center">
                                        <div class="mr-10">
                                            <img src="https://s2.coinmarketcap.com/static/cloud/img/metamask.png?_=4b2fe1d" class="w-25 pull-left" alt="Metamask">
                                        </div>
                                        <div id="wallet-address" class="font-size-12 p-2">

                                        </div>
                                        <a href="#" class="fa fa-clipboard ml-5 pointer" aria-hidden="true"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="loader--1"></div>
            <h1 class="error"></h1>

            <pre id="log" style="margin-left: 10px;">
            </pre>

            <%- include(`${partials}/scripts`, {scriptname: 'snowglobes'}); -%>
            <%- include(`${partials}/footer`); -%>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Init Particle JS
        particlesJS.load(
            "particles-js",
            "<%= PP %>/particlesjs-config.json",
            function() {}
        );
    });
</script>
</html>
