<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`); -%>
<script>
    if (window.localStorage.getItem('snowballDarkmode') == 'true') {
        document.body.classList.add('dark-mode');
    }
</script>
<body>
<%- include(`${partials}/header_main`); -%>

<%- include(`${partials}/wallet_error`); -%>

<div class="page-wrapper with-navbar with-transitions">
    <!-- Content wrapper start -->
    <div class="content-wrapper d-lg-flex">
        <div class="container-lg">
            <h2 style="margin-left: 40px;">⛰️ Tundra</h2>
            <div class="row">
                <div class="card col-xs-8 col-sm-5 col-md-5">
                    <h2 class="content-title">
                        Add Liquidity
                    </h2>
                    <div class="col-xs-6">
                        <div class="token-input">
                            Token 1 - Balance: <span class="font-size-14 font-weight-bold" id="token_1_balance"></span>
                            <a style="display:none" id="token_1_max" href="#"> Max</a>
                            <a style="display:none" id="token_1_revoke" href="#"> Revoke</a>
                            <a style="display:none" id="token_1_approve" href="#"> Approve</a>
                            <input id="token_1_input" type="number" value="0" min="0" class="form-control" placeholder="Enter amount">

                        </div>
                        <div class="token-input">
                            Token 2 - Balance: <span class="font-size-14 font-weight-bold" id="token_2_balance"></span>
                            <a style="display:none" id="token_2_max" href="#"> Max</a>
                            <a style="display:none" id="token_2_revoke" href="#"> Revoke</a>
                            <a style="display:none" id="token_2_approve" href="#"> Approve</a>
                            <input id="token_2_input" type="number" value="0" min="0" class="form-control" placeholder="Enter amount">
                        </div>
                        <div class="token-input">
                            Token 3 - Balance: <span class="font-size-14 font-weight-bold" id="token_3_balance"></span>
                            <a style="display:none" id="token_3_max" href="#"> Max</a>
                            <a style="display:none" id="token_3_revoke" href="#"> Revoke</a>
                            <a style="display:none" id="token_3_approve" href="#"> Approve</a>
                            <input id="token_3_input" type="number" value="0" min="0" class="form-control" placeholder="Enter amount">
                        </div>
                        <br>
                        <button id="deposit_btn" class="btn btn-primary" type="button">Deposit</button>
                    </div>
                </div>
                <div class="card col-xs-8 col-sm-5 col-md-5">
                    <h2 class="content-title">
                        My Share
                    </h2>
                    <div>
                        <div>
                            <span class="font-size-18 font-weight-bold" id="withdraw_balance"></span> sUSD
                            <span class="font-size-18 font-weight-bold float-right" id="pool_percent">%</span>
                        </div>
                        <a href="#" class="font-weight-bold" id="withdraw_btn">Remove Liquidity<br></a>
                        <a style="display: none" href="#" id="revoke_lp_btn"> Revoke<br></a>
                        <a style="display: none" href="#" id="approve_lp_btn"> Approve<br></a>
                    </div>
                    <hr class="my-20"/>
                    <h2 class="content-title">
                        Currency Reserves
                    </h2>
                    <div>
                        <div class="my-10">Token 1 <span class="font-size-14 font-weight-bold" id="t1_supply_percentage">%</span><span id="t1_supply" class="float-right font-size-14 font-weight-bold">$</span></div>
                        <div class="my-10">Token 2 <span class="font-size-14 font-weight-bold" id="t2_supply_percentage">%</span><span id="t2_supply" class="float-right font-size-14 font-weight-bold">$</span></div>
                        <div class="my-10">Token 3 <span class="font-size-14 font-weight-bold" id="t3_supply_percentage">%</span><span id="t3_supply" class="float-right font-size-14 font-weight-bold">$</span></div>
                        <div class="my-20 font-size-16">Total<span id="combined_supply" class="font-size-16 font-weight-bold float-right">$</span></div>
                    </div>
                </div>
            </div>

            <div class="loader--1">
                <div class="loadingio-spinner-ripple-0rfeupqpquh"><div class="ldio-4ixcy4bihgi">
                        <div></div><div></div>
                    </div></div>
            </div>
            <h1 class="error"></h1>

            <pre id="log" style="margin-left: 10px;">
            </pre>

            <%- include(`${partials}/scripts`, {scriptname: 'tundra'}); -%>
            <%- include(`${partials}/footer`); -%>
        </div>
    </div>
</div>
</body>
</html>
